#goldenhead;
{
	position: absolute;
	height:0px;
	font-size: 100%;
	padding: 10px;
	background-color: black;
	width: 90%;

}

header
{
	background-color:black;	
}

#wrapper
{
	width: auto;
	height: auto;
	position: relative;
	padding-top: 0px;
}
body
{
	font-family: Verdan, Arial, sans-serif;
	background-image: url(../src/img/logo/galaxy.jpg);
	min-width: 800px;	
	width: 90%;
	margin: auto;
	margin-top: 10px;
	/* box-shadow: 7px 7px 5px black; */
}

footer
{
	background-color: black;
	color: white;
	font-size: 20px;
	font-style: italic;
	text-align: center;	
	padding-top: 20px;
	clear: both;
	line-height: 1.5;
}

h1 
{
	color:black;
    font-size: 24px;
    margin-bottom: 20px;
}

.button-link /* . ==> class from the hyperlink*/
{
	display: inline-block; 
	padding: 15px 20px; /* Box 8 */
	color: #ffffff; /* White */
	text-decoration:none; /* Remove the default unerline on the link */
	cursor: pointer;
}

#right-header-button-link
{
	position:absolute;
	right: 140px;
	display: inline-block;
	padding: 10px 20px; /* Box 8 */
	color: #ffffff; 
}

#left-header-button-link
{
	position:absolute;
	left: 150px;
	display: inline-block;
	padding: 20px; /* Box 8 */
	color: #ffffff;
	padding: 6px 18px; 
}


.my-profile-button-link
{
	position:absolute;
	right: 10px;
	display: inline-block;
	margin-top: 5px;
	padding: 6px 18px; /* Box 8 */
	background-color: #0077b6;
	color: #ffffff;
	text-decoration:none; /* Remove the default unerline on the link */
	border: none; /* Remove the default border */
	border-radius: 5px; /* Rounded corner */
	transition: 0.5s;
}

.my-profile-button-link:hover
{
	background-color: green;
}


.signup-container
{
    width: 320px;
    margin: 0 auto;
    padding: 20px;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.parent 
{
	margin: 0rem;
	padding: 1rem 1rem;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"] 
{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-container {
    text-align: center;
}

.signup-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #2980b9;
}
.signup-container{

	background: rgba(255,255,255, 0.2);
	/* border-radius: 16px; */
	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 0px solid rgba(255, 255, 255, 0.3);
}