#goldenhead;
{
	position: absolute;
	height:0px;
	font-size: 100%;
	padding: 10px;
	background-color: black;
	width: 90%;

}
header
{
	background-color:black
}
body
{
	font-family: Verdan, Arial, sans-serif;
	background-image: url(../src/img/logo/galaxy.jpg);
	min-width: 800px;	
	width: 90%;
	margin: auto;
	margin-top: 10px;
	box-shadow: 7px 7px 5px black;
	color:white;
}

footer
{
	background-color: black;
	color: white;
	font-size: 20px;
	font-style: italic;
	text-align: center;	
	padding-top: 20px;
	clear: both;
	line-height: 1.5;
}

#wrapper
{
	width: auto;
	height: auto;
	position: relative;
	padding-top: 0px;
}

.button-link /* . ==> class from the hyperlink*/
{
	display: inline-block; 
	padding: 15px 20px; /* Box 8 */
	color: #ffffff; /* White */
	text-decoration:none; /* Remove the default unerline on the link */
	cursor: pointer;
}

#right-header-button-link
{
	position:absolute;
	right: 140px;
	display: inline-block;
	padding: 10px 20px; /* Box 8 */
	color: #ffffff; 
}

#left-header-button-link
{
	position:absolute;
	left: 150px;
	display: inline-block;
	padding: 20px; /* Box 8 */
	color: #ffffff;
	padding: 6px 18px; 
}

.my-profile-button-link
{
	position:absolute;
	right: 10px;
	display: inline-block;
	padding: 6px 18px; /* Box 8 */
	background-color: #0077b6;
	color: #ffffff;
	text-decoration:none; /* Remove the default unerline on the link */
	border: none; /* Remove the default border */
	border-radius: 5px; /* Rounded corner */
	transition: 0.5s;
}

.my-profile-button-link:hover
{
	background-color: green;
}

.parent 
{
	border: 1rem solid beige;
	margin: 0rem;
	padding: 1rem 1rem;
	background-color: grey;

}

.division
{
	width:25%;
	position: inherit;
	padding: 1rem 1rem;
	/*border: 1px solid aquamarine; */

	/*background-color: white;*/
	font-size: 18px;
	color: white;
	text-align: left;
	line-height: 1.5;
	
}

#movie
{
	padding: 10px 10px;
	display: flex;
	align-items: space-between;
	justify-content:center;
	position:relative;
	
	
}	




.left
{
	display: block;
	padding: 1rem 1rem;
	position: absolute;
	margin-left:15%;
	width: 25%;
	background-color: ;
	margin-top: 20px; 
	
	
	font-family: Arial;
	font-size: 18px;
	color: white;
	line-height: 2.5;
}

.right
{
	display: block;
	padding: 1rem 1rem;
	position: static;
	margin-top: 20px; 
	margin-left: 55%;
}



h1
{
	color: white;
}

.buy_button
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	
	background-color: black;
	text-decoration:none;
	border:none;
	color: white;
	border-radius: 5px; /* Rounded corner */
	transition: 0.5s;
}

.buy_button:hover
{
	background-color: #005b8f;
}

.showmore_button
{
	background: beige;
	text-align: center;
	padding-bottom: 10px;
}

.collapisble-button
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	
	background-color: black;
	text-decoration:none;
	border:none;
	color: white;
	border-radius: 5px; /* Rounded corner */
	transition:0.5s;
}

.collapisble-button:hover
{
	background-color:goldenrod;
}

#collapsibleContent {
    max-height: 0; 
	overflow: hidden; 
	transition: max-height 0.5s ease;
}

.rating 
{
	font-size: 24px;
 }

.rated 
{
	color: #FFD700; /* Color of filled stars (gold/yellow) */
}

#movie
{
	display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Set the desired spacing between images */
}

#movie > div 
{
    flex: 1;
    max-width: calc(25% - 10px); /* 25% of the container width minus the gap */
  }

#movie img {
    max-width: 100%;
    max-height: 100%;
}

#searchBar 
{
	border-radius: 5px;
	font-size: 16px;
}